$cor-verde-2: rgb(70, 163, 244);
$fundo-2: rgba(230, 245, 249, 0.409);
$destaque-2: #f2e608;
$borda-2: 1px solid black;
$margem: 10px;
$paddi: 10px;

@mixin marg-padd-2(){
    margin: $margem;
    padding: $paddi;
}

.div2{
    color: $cor-verde-2;
    background-color: $fundo-2;
    border: $borda-2;
    @include marg-padd-2;
    
    b{
        color: $destaque-2;
    }
}