$cor-verde-3: rgb(6, 6, 6);
$fundo-3: rgba(230, 245, 249, 0.394);
$destaque-3: #fb1ef0;
$borda-3: 1px solid black;
$margem: 10px;
$paddi: 10px;

@mixin marg-padd-3(){
    margin: $margem;
    padding: $paddi;
}

.div3{
    color: $cor-verde-3;
    background-color: $fundo-3;
    border: $borda-3;
    @include marg-padd-3;

    b{
        color: $destaque-3;
    }
}